import java.util.Scanner;
public class cinZodyagiHesaplama {
    public static void main(String[] args){

        int year,monkey,cockerel,dog,pig,mouse,ox,tiger,rabbit,dragon,snake,horse,sheep;
        Scanner inp = new Scanner(System.in);
        System.out.print("What's your birth day? : ");
        year = inp.nextInt();
        int kalan = year % 12;

        if (kalan==0) {
            System.out.println("Your chinese zodiac sign : MONKEY");
        } else if (kalan==1) {
            System.out.println("Your chinese zodiac sign : COCKEREL");
        }  else if (kalan==2) {
            System.out.println("Your chinese zodiac sign : DOG");
        }  else if (kalan==3) {
            System.out.println("Your chinese zodiac sign : PİG");
        }  else if (kalan==4) {
            System.out.println("Your chinese zodiac sign : MOUSE");
        }   else if (kalan==5) {
            System.out.println("Your chinese zodiac sign : OX");
        }  else if (kalan==6) {
            System.out.println("Your chinese zodiac sign : TİGER");
        }  else if (kalan==7) {
            System.out.println("Your chinese zodiac sign : RABBİT");
        }  else if (kalan==8) {
            System.out.println("Your chinese zodiac sign : DRAGON");
        }  else if (kalan==9) {
            System.out.println("Your chinese zodiac sign : SNAKE");
        }  else if (kalan==10) {
            System.out.println("Your chinese zodiac sign : HORSE");
        }  else if (kalan==11) {
            System.out.println("Your chinese zodiac sign : SHEEP");
        }
    }
}
